<!DOCTYPE html>
<html>
<head>
  <title>Github analyzer</title>
  <%= stylesheet_link_tag    "github/analyzer/application", media: "all" %>
  <%= javascript_include_tag "github/analyzer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
